<div class="row" ng-repeat="(rowIndex,tv) in media.media | filter:searchFilter as elem"
     ng-if="rowIndex % 4 == 0">
    <div class="col-md-3 " ng-repeat="elIdx in [0,1,2,3]" ng-if="elem[rowIndex+elIdx]">
        <h3 class="title">{{elem[rowIndex+elIdx].name}}</h3>
        <img class="img-responsive portfolio-item resultImage"
             ng-src="{{media.getPosterMedium(elem[rowIndex+elIdx].poster_path)}}" alt="">
    </div>
</div>
<pagination class="pager" on-change="media.onChange(number)" max-page="media.maxPage" page="media.page"></pagination>